<div class="jumbotron">
  <div class="row">
    <div class="col-md-2 selfImg">
      <img src="../../assets/self.jpg" alt="self" id="self">
    </div>
    <div class="col-md-10 text-primary intro">
      <p>
        This website is a guide for those who wish to try their hands at javascript &amp; various frameworks built on top of it.
        It's a small effort from my side to share my knowledge with the world.
      </p>
    </div>
  </div>
</div>


<div class="container theme-showcase" role="main">
  <h3>Who am I?</h3>
  Well I am Rakesh, a UI developer by profession. My area of interest is javascript(when it comes to coding). But apart from this I am into hard core online gaming, mobile games(mini-militia), instrumental music(keyboard), and a hardcore dog lover.

  <h3>Where to find me?</h3>
  <div class="findMe">
    <a href="https://facebook.com/itsrakeshprakash" target="_blank">
      <img src="../../../assets/fb.png" alt="" height="75px" width="75px">
    </a>
    <a href="https://twitter.com/rakeshprakash91" target="_blank">
      <img src="../../../assets/twitter.png" alt="" height="75px" width="75px">
    </a>
    <a href="https://github.com/rakeshprakash91/" target="_blank">
      <img src="../../../assets/github.png" alt="" height="75px" width="75px">
    </a>
    <a href="https://www.linkedin.com/in/rakesh-prakash-9498a5a6/" target="_blank">
      <img src="../../../assets/linkedin.png" alt="" height="75px" width="150px">
    </a>
  </div>
  
</div>