<div class="jumbotron">
  <div class="row">
    <!--<div class="col-md-2 selfImg">
      <img src="../../assets/self.jpg" alt="self" id="self">
    </div>-->
    <div class="col-md-12 text-primary intro">
      <!--<p>I'm Rakesh, an engineer by training, software developer by profession &amp; javascript junkie by nature. And a dog
        lover <span style="color: red">♥</span>
      </p>-->
      <p>
        Hi there!! Welcome to Js Junkie (Javascript Junkie). Here we are going to discuss various core concepts and help demistify javascript &amp; related frameworks.
      </p>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Javascript Core Concepts</h3>
  </div>
  <div class="panel-body">
    <div class="well well-sm">
      <a routerLink="/data-types">Data Types &amp; Variables</a>
    </div>
    <div class="well well-sm">
      <a routerLink="/functions">Types of function</a>
    </div>
    <div class="well well-sm">
      <a routerLink="/scope">Scope</a>
    </div>
    <div class="well well-sm">
      <a routerLink="/object">Objects &amp; Arrays</a>
    </div>
    <div class="well well-sm">
      <a routerLink="/closure">Closure</a>
    </div>
    <div class="well well-sm">
      <a routerLink="/hoisting">Hoisting</a>
    </div>
  </div>
</div>
