<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Js Junkie</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container theme-showcase" role="main">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted" style="text-align: center">&copy; jsjunkie</p>
  </div>
</footer>
